<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata>
        <f:viewAction action="#{postContorller.loadPost(param.index)}"/>
    </f:metadata>
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />
        <div class="container">
            <h1>#{postContorller.title}</h1>
        <br/>
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="suburb" class="control-label">Suburb: </label><br/>
                        <h:outputText class="" value="#{postContorller.suburb}"></h:outputText>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="city" class="control-label">City: </label><br/>
                        <h:outputText value="#{ postContorller.city}"></h:outputText>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="type" class="control-label">Type: </label><br/>
                        <h:outputText value="#{ postContorller.type}"></h:outputText>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="rent" class="control-label">Rent(AU$): </label><br/>
                        <h:outputText value="#{ postContorller.rent}"></h:outputText>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="contact" class="control-label">Contact: </label><br/>
                        <h:outputText value="#{ postContorller.contact}"></h:outputText>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="email" class="control-label">Email: </label><br/>
                        <h:outputText value="#{ postContorller.email}"></h:outputText>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="publishDate" class="control-label">Published Date: </label><br/>
                        <h:outputText value="#{ postContorller.date}"></h:outputText>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="details">Details: </label><br/>
                <div class='textarea'>
                    <h:outputText value="#{ postContorller.detail}"></h:outputText>
                </div>
            </div>
        </div>
    </h:body>
</html>

