<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />
        <b:container >                
            <h1>Got a room available? Share with us!</h1>
            <h:form >
                <h:panelGrid cellpadding="5" >
                    <b:inputText required="true" placeholder="username" id="username" requiredMessage="Please enter the username" value="#{userController.username}" >
                        <f:facet name="prepend">
                            <b:icon name="user"/>
                        </f:facet>
                    </b:inputText>
                    <b:inputSecret required="true" placeholder="password" id="password" requiredMessage="Please enter the password" value="#{userController.password}">
                        <f:facet name="prepend">
                            <b:icon name="lock"/>
                        </f:facet>
                    </b:inputSecret>
                </h:panelGrid>
                <h:messages styleClass="alert alert-danger"/>
                <b:commandButton value="Login" look="primary" action="#{userController.login}" />
            </h:form>
        </b:container>
    </h:body>
</html>

